@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

$white: #fff;
$black: #333;
$blue: hsl(206, 18%, 61%); 
$purple:rgb(151, 107, 156);
$pink:rgb(223, 141, 141);
$gray:rgba(173, 172, 172, 0.692);

body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  color: $white;
  background: $gray;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

#map {
  height: 100%;
}
a {
  color: $white;
  text-decoration: none;
}
li{
  list-style:none;
}
#navbar{
  
  position: -webkit-sticky;
}
.header{
  top:0; left:0; right:0;
  z-index: 1000;
  background-color: $white;
  display: flex;
  padding:5px;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  
  margin:0 5rem;
    a {
      color: $black;
      text-decoration: none;
      font-size: 1.5rem;
      margin-left:2rem;
      &:hover {
        color: $blue;
      }
    }
  }


.logo {
  color: $purple;
  font-size: 2rem;
  font-weight: 100;
  margin-left:5rem;
}

#highlight {
  color: $blue;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color:$white;
  color:$blue;
  text-align: center;
  padding: 5px 0;
  top: 100%;
  left: 50%;
  margin-left: -60px; 
  position: absolute;
  z-index: 1;
  font-size: 1rem;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom:100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $blue transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
#login-form{
input{
  border:1px solid $purple;
  border-radius:5px;
  padding: 10px 16px;
  width:140px;
  color:$black;
}
  .submit-btn{
    margin-top:5px;
    padding:5px 10px;
  }
}
.intro-section{
  padding-top:5rem;
  padding-bottom: 1rem;
  background-color: $white;
  

}
.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
  .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: underline;
    color: $blue;
    .underline {
      color: $purple;
    }
  }
}

.description {
  position: relative;
  z-index: 1;
  color:$black;
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  opacity: 0;
  animation: fadeIn 0.8s 0.6s ease forwards;
}

.slider-item {
  display: none;
  &.active {
    display: block;
    .hide-mobile {
      display: none;
    }
    .show-mobile {
      display: block;
      margin: 1rem 0;
    }
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
}

.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
  .previous {
    border: 1px solid $black;
  }
  .next {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
  }
  .icon {
    position: relative;
    margin: auto;
    width: 20px;
    height: 1px;
    background-color: currentColor;
    &.arrow-left {
      &::before {
        content: '';
        position: absolute;
        left: 1px;
        top: -4px;
        width: 9px;
        height: 9px;
        border-top: solid 1px currentColor;
        border-right: solid 1px currentColor;
        transform: rotate(-135deg);
      }
    }
    &.arrow-right {
      &::before {
        content: '';
        position: absolute;
        right: 1px;
        top: -4px;
        width: 9px;
        height: 9px;
        border-top: solid 1px currentColor;
        border-right: solid 1px currentColor;
        transform: rotate(45deg);
      }
    }
  }
}

.previous, .next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: $black;
  &:hover .icon {
    transform: scale(1.5);
  }
  .icon {
    transition: transform 0.1s ease;
  }
}
.image-holder {
  

img {
	width: 100%;
  height: 45vh;
	object-fit: cover;
}
}
.active .image-holder::before {
  position: absolute;
  content: '';
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  transform-origin: 100% 50%;
  animation: revealRight 1s cubic-bezier(0.23,1,0.75,1) forwards;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@media (min-width) {
  
  #logo {
    font-size: 2rem;
  }
  
  .controls {
    padding: 1.75rem 0 1.75rem 0;
  }

  .intro {
    animation: fadeInLeft 0.8s 0.4s ease forwards;
    .title {
      font-size: 4.25rem;
      padding: 2.5rem 2.5rem 3rem 2.5rem;
      background: $white;
    }
  }
  
  img {
    height: 60vh;
  
  }
  
  .description {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
  }
  
  .previous, .next {
    flex-basis: 8.33%;
  }
  
  .slider-item.active .hide-mobile {
    display: block;
  }
  
  .slider-item.active .show-mobile {
    display: none;
  }
        }
      


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.home-about{
  display: flex;
  align-items: center;
  margin-top:2rem;
  }
.content{
  padding:3rem;
  background:$purple;
  width:100%;

}

.home-about .content p{
  font-size: 1rem;
  padding:1rem 0;
  line-height: 2;
  color:$white;
}
#more {display: none;}
.services{
  margin-bottom:6rem;
}
.title{
  margin-bottom: 3rem;
  font-size: 2rem;
  justify-content: center;
  color:$white;


}
.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  gap: 1.5rem;
}

.services .box-container .box{
  padding:20px 20px;
  text-align: center;
  background: $blue;
  cursor: pointer;
}

.services .box-container .box:hover{
  background: $purple;
}

.services .box-container .box i{
  width:40%;
  height:6rem;
  color:$white;
}

.services .box-container .box h3{
  color:$white;
  font-size: 1.7rem;
  padding-top: 1rem;
}

.destination .container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  background: $blue;
  padding:20px 0;
  margin-bottom:4rem;
}
.section-subtitle {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.destination .section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size:1.5rem;
}


.destination-card {
  background-color:$white;
  width:280px;
  margin-top:20px;  
  margin-left: 20px;
  border-radius:20px;
  h3{
    color:$black;
    padding:5px;
  }
  p{
    padding:10px;
    color:$black;
  }
  a{
    background-color: white;
    color:$black;
    border:1px solid $blue;
    border-radius:5px;
    font-size: 1.5rem;
    text-align: center;
    display:block;
    padding:10px 15px;
    margin:20px 50px;
  }
}
.card-image {
   height:280px;
   margin-bottom:15px;
   border-radius:15px 15px 0 0;
}
   .car-1{
    background:url("https://source.unsplash.com/xPsFXsbXJRg");
    background-size: cover;
  }
  .car-2{
    background:url("https://source.unsplash.com/-y3sidWvDxg");
    background-size: cover;
  }
  .car-3{
    background:url("https://source.unsplash.com/-9B08uduMyY");
    background-size: cover;
  }
  .car-4{
    background:url("https://source.unsplash.com/6yBAQeeNROU");
    background-size: cover;
  }
  .car-5{
    background:url("https://source.unsplash.com/QUwLZNchflk");
    background-size: cover;
  }
  
  .car-6{
    background:url("https://source.unsplash.com/lDIjGidOrQ0");
    background-size: cover;
  }
  
  .car-7{
    background:url("https://source.unsplash.com/7H77FWkK_x4");
    background-size: cover;
  }
  .destination-card:hover{
    transform:scale(1.1);

  }
  

footer{
  position:absolute;
  background:url(https://source.unsplash.com/KMn4VEeEPR8);
  opacity:0.5;
  color:$blue;
  padding-top:40px;
  width:100vw;
  font-size:1rem;
}
.footer-top{
  
  background-color: $white;
  display:flex;
  flex-flow: wrap;
  color:black;
  font-weight:300;
}

footer-top > *{
  flex:1 100%;
}
  
  
.footer-left{
  margin-right:1.25em;
  margin-bottom:1em;
  display: flex;
  flex-wrap:wrap;

}
  .footer-left h3{
    font-size: 1.5rem;
    font-weight: 500;
}
  .footer-left p{
    max-width: 500px;
    color:$black;

}

.footer-left .socials{
a{
    text-decoration: none;
    border: 1.8px solid $black;
    padding: 5px;
    border-radius: 50%;
    margin-right:10px;
    
}
 a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
} a:hover i{
    color:$purple;
}
}
.footer-right{
  display:flex;
  flex-flow:row wrap;
  .footer-list-title{
    font-size:1.5rem;
    text-decoration:underline;
    font-weight: 500;

  }
  .footer-link{
    color:$black;
  }
  .footer-link:hover{
    opacity:0.8;
  }
}
.footer-right > *{
  flex:1 50%;
  margin-right:20px;
}


.footer-bottom{
    background:$blue;
    width: 100vw;
    padding: 10px;
    display:flex;
  
}
.footer-menu{
  
  font-size:1rem;
  justify-content: center;

 ul{
  display: flex;
}
li{
padding-right: 10px;
display: block;
} ul li a{
  color:$white;
  text-decoration: none;
}
ul li a:hover{
  color:$black;
}
}
.newsletter-text {
  margin-bottom: 30px;
  line-height: 1.7;
}

.newsletter-form { position: relative; }

.newsletter-input {
  border-radius:5px;
  padding: 16px;
  color: $black;
}

.newsletter-input:focus {
  outline: none;
  box-shadow: 0 0 0 5px hsla(216, 98%, 52%, 0.25);
}

.newsletter-form .btn-primary {
  position: absolute;
  border-radius: 5px;
  padding:10px;
  margin-left:1rem;
  top:0;
  bottom:0;
  
}

.newsletter-form .btn-primary:hover {
  background:$purple;
}

@media screen and (min-width:600px)
{
  .footer-right > *{
    flex:1;

  }
  .footer-left{
    flex:1 0px;
  }
  .footer-right{
    flex:2 0px;
  }
}
@media (max-width:600px){
  footer{
    padding:15px;
  }
  main{
  font-size:20px;
  }
}


#TopBtn {
  position: fixed;
  bottom: 0;
  right: 15px;
  background:$purple;
  color: $white;
  font-size: px;
  padding: 5px;
  border-radius: 5px;
  transition: .15s ease;
  opacity: 0.6;
}

#TopBtn:hover{
  opacity:1;
  background:$purple;
}