@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
body {
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
  color: #fff;
  background: rgba(173, 172, 172, 0.692);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

#map {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

#navbar {
  position: -webkit-sticky;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin: 0 5rem;
}
.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.navbar a:hover {
  color: hsl(206deg, 18%, 61%);
}

.logo {
  color: rgb(151, 107, 156);
  font-size: 2rem;
  font-weight: 100;
  margin-left: 5rem;
}

#highlight {
  color: hsl(206deg, 18%, 61%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #fff;
  color: hsl(206deg, 18%, 61%);
  text-align: center;
  padding: 5px 0;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
  font-size: 1rem;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent hsl(206deg, 18%, 61%) transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#login-form input {
  border: 1px solid rgb(151, 107, 156);
  border-radius: 5px;
  padding: 10px 16px;
  width: 140px;
  color: #333;
}
#login-form .submit-btn {
  margin-top: 5px;
  padding: 5px 10px;
}

.intro-section {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #fff;
}

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-animation: fadeIn 0.8s 0.4s ease forwards;
          animation: fadeIn 0.8s 0.4s ease forwards;
}
.intro .title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: underline;
  color: hsl(206deg, 18%, 61%);
}
.intro .title .underline {
  color: rgb(151, 107, 156);
}

.description {
  position: relative;
  z-index: 1;
  color: #333;
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  opacity: 0;
  -webkit-animation: fadeIn 0.8s 0.6s ease forwards;
          animation: fadeIn 0.8s 0.6s ease forwards;
}

.slider-item {
  display: none;
}
.slider-item.active {
  display: block;
}
.slider-item.active .hide-mobile {
  display: none;
}
.slider-item.active .show-mobile {
  display: block;
  margin: 1rem 0;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
}

.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
}
.controls .previous {
  border: 1px solid #333;
}
.controls .next {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
.controls .icon {
  position: relative;
  margin: auto;
  width: 20px;
  height: 1px;
  background-color: currentColor;
}
.controls .icon.arrow-left::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(-135deg);
}
.controls .icon.arrow-right::before {
  content: "";
  position: absolute;
  right: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(45deg);
}

.previous, .next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #333;
}
.previous:hover .icon, .next:hover .icon {
  transform: scale(1.5);
}
.previous .icon, .next .icon {
  transition: transform 0.1s ease;
}

.image-holder img {
  width: 100%;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.active .image-holder::before {
  position: absolute;
  content: "";
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: 100% 50%;
  -webkit-animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
          animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@-webkit-keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@media (min-width) {
  #logo {
    font-size: 2rem;
  }
  .controls {
    padding: 1.75rem 0 1.75rem 0;
  }
  .intro {
    -webkit-animation: fadeInLeft 0.8s 0.4s ease forwards;
            animation: fadeInLeft 0.8s 0.4s ease forwards;
  }
  .intro .title {
    font-size: 4.25rem;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    background: #fff;
  }
  img {
    height: 60vh;
  }
  .description {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
  }
  .previous, .next {
    flex-basis: 8.33%;
  }
  .slider-item.active .hide-mobile {
    display: block;
  }
  .slider-item.active .show-mobile {
    display: none;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.home-about {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.content {
  padding: 3rem;
  background: rgb(151, 107, 156);
  width: 100%;
}

.home-about .content p {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 2;
  color: #fff;
}

#more {
  display: none;
}

.services {
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 3rem;
  font-size: 2rem;
  justify-content: center;
  color: #fff;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 20px 20px;
  text-align: center;
  background: hsl(206deg, 18%, 61%);
  cursor: pointer;
}

.services .box-container .box:hover {
  background: rgb(151, 107, 156);
}

.services .box-container .box i {
  width: 40%;
  height: 6rem;
  color: #fff;
}

.services .box-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  padding-top: 1rem;
}

.destination .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: hsl(206deg, 18%, 61%);
  padding: 20px 0;
  margin-bottom: 4rem;
}

.section-subtitle {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.destination .section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.5rem;
}

.destination-card {
  background-color: #fff;
  width: 280px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}
.destination-card h3 {
  color: #333;
  padding: 5px;
}
.destination-card p {
  padding: 10px;
  color: #333;
}
.destination-card a {
  background-color: white;
  color: #333;
  border: 1px solid hsl(206deg, 18%, 61%);
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  padding: 10px 15px;
  margin: 20px 50px;
}

.card-image {
  height: 280px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}

.car-1 {
  background: url("https://source.unsplash.com/xPsFXsbXJRg");
  background-size: cover;
}

.car-2 {
  background: url("https://source.unsplash.com/-y3sidWvDxg");
  background-size: cover;
}

.car-3 {
  background: url("https://source.unsplash.com/-9B08uduMyY");
  background-size: cover;
}

.car-4 {
  background: url("https://source.unsplash.com/6yBAQeeNROU");
  background-size: cover;
}

.car-5 {
  background: url("https://source.unsplash.com/QUwLZNchflk");
  background-size: cover;
}

.car-6 {
  background: url("https://source.unsplash.com/lDIjGidOrQ0");
  background-size: cover;
}

.car-7 {
  background: url("https://source.unsplash.com/7H77FWkK_x4");
  background-size: cover;
}

.destination-card:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  background: url(https://source.unsplash.com/KMn4VEeEPR8);
  opacity: 0.5;
  color: hsl(206deg, 18%, 61%);
  padding-top: 40px;
  width: 100vw;
  font-size: 1rem;
}

.footer-top {
  background-color: #fff;
  display: flex;
  flex-flow: wrap;
  color: black;
  font-weight: 300;
}

footer-top > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.footer-left h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer-left p {
  max-width: 500px;
  color: #333;
}

.footer-left .socials a {
  text-decoration: none;
  border: 1.8px solid #333;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-left .socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
.footer-left .socials a:hover i {
  color: rgb(151, 107, 156);
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}
.footer-right .footer-list-title {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 500;
}
.footer-right .footer-link {
  color: #333;
}
.footer-right .footer-link:hover {
  opacity: 0.8;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 20px;
}

.footer-bottom {
  background: hsl(206deg, 18%, 61%);
  width: 100vw;
  padding: 10px;
  display: flex;
}

.footer-menu {
  font-size: 1rem;
  justify-content: center;
}
.footer-menu ul {
  display: flex;
}
.footer-menu li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #333;
}

.newsletter-text {
  margin-bottom: 30px;
  line-height: 1.7;
}

.newsletter-form {
  position: relative;
}

.newsletter-input {
  border-radius: 5px;
  padding: 16px;
  color: #333;
}

.newsletter-input:focus {
  outline: none;
  box-shadow: 0 0 0 5px hsla(216deg, 98%, 52%, 0.25);
}

.newsletter-form .btn-primary {
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  margin-left: 1rem;
  top: 0;
  bottom: 0;
}

.newsletter-form .btn-primary:hover {
  background: rgb(151, 107, 156);
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}
@media (max-width: 600px) {
  footer {
    padding: 15px;
  }
  main {
    font-size: 20px;
  }
}
#TopBtn {
  position: fixed;
  bottom: 0;
  right: 15px;
  background: rgb(151, 107, 156);
  color: #fff;
  font-size: px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.15s ease;
  opacity: 0.6;
}

#TopBtn:hover {
  opacity: 1;
  background: rgb(151, 107, 156);
}/*# sourceMappingURL=style.css.map */